.about {
    padding-top: 170px;
    padding-bottom: 37px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    &__anchor {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.03em;
        color: #15B8A5;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 15px;
    }
    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #1D283A;
        margin-bottom: 15px
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #48566A;
        margin-bottom: 24px;
    }
    &__bookmark {
        padding: 12px 25px;
        background: #F1F5F9;
        border-left: 8px solid #15B8A5;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #48566A;
        max-width: max-content;
        margin-bottom: 8px;
    }
    &__callback {
        margin-top: 24px;
        position: relative;
        max-width: max-content;
        button {
            padding: 0;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 225px;
            height: 48px;
            background: #44C6B7;
            border-radius: 12px;
            overflow: hidden;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 20px;
            font-family: 'Inter', sans-serif;
            padding-left: 13px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #15B8A5;
                width: 48px;
                height: 48px;
                flex-shrink: 0;
            }
        }
        &-clue {
            display: none;
            position: absolute;
            top: 58px;
            width: 225px;
            background: #FFFFFF;
            border: 1px solid #E1E7EF;
            border-radius: 12px;
            padding: 20px 0px;
            box-sizing: border-box;
            z-index: 2;
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 10px;
                li {
                    display: flex;
                    justify-content: center;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 195px;
                        height: 40px;
                        gap: 8px;
                        border: 1px solid #CBD5E1;
                        border-radius: 10px;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: -0.03em;
                        color: #0F172A;
                    }
                }
            }
        }
    }
    &__slider {
        max-width: 580px;
        width: 100%;
    }
    &__slide {
        border-radius: 24px;
        overflow: hidden;
        picture {
            img {
                border-radius: 24px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }
    &__thumb {
        height: 100px;
        border-radius: 24px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
            object-fit: cover;
        }
    }
    .about-swiper {
        margin-bottom: 24px;
    }
    .swiper-slide-thumb-active {
        .about__thumb {
            img {
                border: 2px solid #10B77F;
                box-sizing: border-box;
            }
        }
    }
}
@media (max-width: 1230px) {
    .about {
        &__slider {
            max-width: 491px;
        }
    }
}
@media (max-width: 1022px) {
    .about {
        padding-top: 70px;
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__slider {
            max-width: 100%;
        }
    }
}
@media (max-width: 625px) {
    .about {
        padding-top: 50px;
        padding-bottom: 25px;
        &__anchor {
            margin-bottom: 8px;
        }
        &__title {
            margin-bottom: 8px;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #1D283A;
        }
        &__bookmark {
            font-size: 16px;
            line-height: 28px;
        }
        .about-swiper {
            margin-bottom: 12px;
        }
    }
}
@media (max-width: 475px) {
    .about {
        &__bookmark {
            font-size: 14px;
            padding-left: 15px;
        }
        &__thumb {
            height: 70px;
            border-radius: 15px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 375px) {
    .about {
        &__bookmark {
            font-size: 14px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}