.prices {
    padding: 37px 0px;
    &__suptitle {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.03em;
        color: #15B8A5;
        margin-bottom: 15px;
    }
    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #1D283A;
        margin-bottom: 40px;
    }
    &__wrapper {
        background: #F1F5F9;
        border-radius: 24px;
        padding: 35px;
        .background-white {
            background: #fff;
            border: 1px solid #E1E7EF;
            border-radius: 16px;
            overflow: hidden;
        }
    }
    &__table {
        &-header {
            display: grid;
            grid-template-columns: minmax(320px, 550px) minmax(225px, 440px) auto;
            background: #F8FAFC;
            padding: 25px;
            p {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: #7A838B;
            }
            a {
                width: 160px;
                margin-left: auto;
                opacity: 0;
            }
        }
        &-label {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #2D3338;
        }
        &-row {
            display: grid;
            grid-template-columns: minmax(320px, 550px) minmax(225px, 440px) auto;
            background: #fff;
            padding: 25px;
            transition: .3s all;
            align-items: center;
            &:not(:first-of-type) {
                border-top: 1px solid #E6E9ED;
            }
            span {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: #15B8A5;
            }
            a {
                display: flex;
                padding: 10px 15px;
                justify-content: center;
                background: #15B8A5;
                border-radius: 12px;
                max-width: max-content;
                margin-left: auto;
                p {
                    align-items: center;
                    color: #fff;
                }
                svg {
                    display: none;
                }
            }
            &:hover {
                background: #F8FAFC;
            }
        }
    }
}
@media (max-width: 1022px) {
    .prices {
        &__wrapper {
            padding: 15px;
        }
        &__table {
            &-header {
                a {
                    width: 46px;
                    p {
                        display: none;
                    }
                }
            }
            &-row {
                a {
                    p {
                        display: none;
                    }
                    svg {
                        display: flex;
                    }
                }
            }
        }
    }
}
@media (max-width: 798px) {
    .prices {
        &__table {
            &-header {
                grid-template-columns: minmax(90px,260px) minmax(80px,440px) auto;
                gap: 40px;
            }
            &-row {
                grid-template-columns: minmax(90px,260px) minmax(80px,440px) auto;
                gap: 40px;
            }
        }
    }
}
@media (max-width: 625px) {
    .prices {
        padding: 25px 0px;
        &__suptitle {
            margin-bottom: 8px;
        }
        &__title {
            margin-bottom: 24px;
            font-size: 24px;
            line-height: 29px;
        }
        &__table {
            &-header {
                p {
                    &:last-of-type {
                        white-space: nowrap;
                    }
                }
            }
        }
       
    }
}
@media (max-width: 475px) {
    .prices {
        &__table {
            &-header {
                // display: flex;
                // justify-content: space-between;
                display: grid;
                grid-template-columns: minmax(70px, 140px) auto;
                gap: 15px;
                p {
                    font-size: 12px;
                    &:first-of-type {
                        white-space: nowrap;
                    }
                }
                a {
                    display: none;
                }
            }
            &-label {
                font-size: 12px;
                line-height: 12px;
                letter-spacing: -0.02em;
                color: #2D3338;
                max-width: 140px;
                width: 100%;
            }
            &-row {
                // display: flex;
                // justify-content: space-between;
                display: grid;
                grid-template-columns: minmax(70px, 140px) 57px auto;
                gap: 15px;
                span {
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: -0.02em;
                    color: #15B8A5;
                    // max-width: 57px;
                    width: 100%;
                }
            }
        }
    }
}